@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local(""), url(../fonts/Montserrat-Regular.woff2) format("woff2"), url(../fonts/Montserrat-Regular.woff) format("woff")
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: local(""), url(../fonts/Montserrat-Medium.woff2) format("woff2"), url(../fonts/Montserrat-Medium.woff) format("woff")
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    src: local(""), url(../fonts/Montserrat-SemiBold.woff2) format("woff2"), url(../fonts/Montserrat-SemiBold.woff) format("woff")
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: local(""), url(../fonts/Montserrat-Bold.woff2) format("woff2"), url(../fonts/Montserrat-Bold.woff) format("woff")
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

body {
    min-width: 1920px;
    margin: 0 auto;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff
}

.list-reset {
    padding: 0;
    margin: 0;
    list-style: none
}

.img {
    min-width: 100%;
    height: auto
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden
}

.button {
    background-color: #2e373b;
    color: #fff;
    text-align: center;
    border: 0;
    outline: 0;
    display: block
}

.button:focus, .button:hover {
    opacity: .3;
    cursor: pointer
}

.button:active {
    opacity: .3
}

a {
    text-decoration: none
}

.title {
    font-weight: 500
}

.page-header {
    width: 100%;
    margin: 0 auto;
    z-index: 3;
    position: relative;
    border-bottom: 1px solid #fff
}

.page-header__logo, .page-header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.page-header__wrapper {
    margin: 0 auto;
    padding-bottom: 7px;
    padding-top: 6px
}

.page-header__logo {
    width: 175px;
    height: 24px
}

.page-header__logo:focus, .page-header__logo:hover {
    opacity: .8
}

.page-header__logo:active {
    opacity: .6
}

.main-nav {
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 1565px;
    margin: 0 auto
}

.main-nav, .main-nav__icons a, .site-list a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.main-nav__global {
    padding-left: 70px
}

.main-nav__global, .main-nav__global a, .main-nav__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.main-nav__icons {
    padding-left: 322px
}

.main-nav__lang {
    display: block;
    padding-top: 5px;
    margin-left: 10px
}

.main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 267px
}

.main-nav__icons a, .site-list a {
    font-size: 14px;
    line-height: 21px;
    color: #fff
}

.main-nav__icons a:focus, .main-nav__icons a:hover, .site-list a:focus, .site-list a:hover {
    opacity: .6
}

.main-nav__icons a:active, .site-list a:active {
    opacity: .3
}

.site-list li {
    padding-top: 9px;
    margin-left: 44px
}

.details::before, .top {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    left: 0;
    display: block
}

.top {
    width: 100%;
    position: relative;
    margin: 0 auto;
    top: -112px;
    min-height: 823px;
    background-color: #fff;
    background-image: url(../img/header-img.jpg)
}

.top__container, .top__right ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.top__container {
    margin: 0 auto;
    padding: 295px 225px 0;
    position: relative
}

.top__container a {
    color: #fff
}

.top__left {
    max-width: 420px
}

.top__left h1 {
    font-size: 64px;
    line-height: 102px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 10px;
    letter-spacing: -2.6px
}

.top__left p {
    font-size: 20px;
    line-height: 33.6px;
    color: #fff;
    margin: 0;
    padding: 0 30px 22px 0
}

.top__left span {
    font-size: 14px;
    line-height: 33.6px;
    color: #fff
}

.top-icon {
    padding: 8px 0 0 10px
}

.top__right ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.top__right-title {
    font-size: 18px;
    line-height: 27.3px;
    color: #fff;
    padding-bottom: 15px
}

.details::before {
    content: "";
    background-image: url(../img/arrow1.svg)
}

.top__right {
    padding-top: 121px;
    padding-left: 158px
}

.top__right li {
    margin-bottom: 30px;
    padding-right: 30px
}

.top__right li:nth-child(2), .top__right li:nth-child(4) {
    padding-right: 0
}

.top__right--one a {
    background-color: #2378fc
}

.top__right--two a {
    background-color: #30bcc9
}

.top__right--three a {
    background-color: #ffc41e
}

.top__right--four a {
    background-color: #f6404f
}

.top__right a {
    max-width: 255px;
    display: -webkit-box;
    display: -ms-flexbox;
    padding: 32px 30px 35px 38px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.details {
    font-size: 10px
}

.offers {
    width: 100%;
    background-color: #2378fc;
    margin-top: -111px
}

.offers__box, .offers__container {
    padding: 0 223px;
    margin: 0 auto
}

.offers__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 50px 0 62px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.offers__box h3 {
    font-size: 27px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -.8px
}

.offers__box a {
    display: block;
    color: #fff;
    font-size: 12px;
    line-height: 25px
}

.offers__box a:active, .offers__box a:hover, .page-footer__wrapper a:active, .page-footer__wrapper a:hover {
    color: #ffc41e;
    text-decoration: underline
}

.offers__box-one {
    width: 210px;
    margin-right: 122px
}

.offers__box-two {
    width: 188px;
    margin-right: 121px
}

.offers__box-three {
    width: 186px;
    margin-right: 120px
}

.offers__box-four {
    width: 167px;
    margin-right: 0
}

.offers__box li {
    padding-bottom: 12px
}

.page-footer {
    width: 100%;
    background-color: #30bcc9;
    padding-top: 40px;
    padding-bottom: 58px
}

.page-footer__wrapper {
    padding: 0 223px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.page-footer__wrapper h3 {
    font-size: 21px;
    line-height: 27px;
    letter-spacing: -.6px
}

.page-footer__wrapper a {
    color: #fff;
    font-size: 10px;
    display: block;
    letter-spacing: .9px
}

.page-footer__wrapper li {
    padding-bottom: 16px
}

.page-footer__one {
    max-width: 197px;
    margin-right: 94px
}

.page-footer__two {
    max-width: 163px;
    margin-right: 126px
}

.page-footer__three {
    max-width: 161px;
    margin-right: 126px
}

.page-footer__four {
    max-width: 255px
}

.page-footer__organizers {
    padding-top: 9px
}

.page-footer__app, .page-footer__visitor {
    padding-top: 8px
}

.page-footer__app li {
    padding-bottom: 7px
}

.page-footer__contacts {
    padding-bottom: 10px
}

.page-footer__subscription h3 {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 18px
}

.page-footer__subscription a {
    line-height: 18px
}

.page-footer__subscription li {
    padding-right: 20px;
    line-height: 17px;
    padding-bottom: 24px
}

.form__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.form__item input {
    padding: 12px 27px 12px 16px;
    border: 0
}

.form__button {
    background-color: #f6404f;
    width: 40px;
    height: 40px
}

.icon-social {
    width: 217px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 10px
}

.social-button-icon {
    color: #fff
}

.social-button-icon:active, .social-button-icon:focus, .social-button-icon:hover {
    opacity: .5
}

.container {
    margin: 0 auto;
    width: 1565px
}

.events {
    width: 100%;
    background-color: #ffc41e;
    padding-bottom: 68px
}

.events__container {
    margin: 0 auto;
    padding: 56px 223px 0
}

.events__bottom, .events__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.events__top {
    color: #2e373b;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.events__top h2 {
    font-weight: 500;
    font-size: 28px
}

.events__top a {
    padding-top: 29px;
    display: block;
    font-size: 24px;
    color: #373b3d;
    text-decoration: underline
}

.events__link::after {
    content: "";
    background-image: url(../img/arrow2.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block
}

.events__bottom {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 28px
}

.events__bottom li {
    width: 350px;
    padding: 0 15px
}

.events__bottom-image {
    width: 100%;
    display: block;
    margin-bottom: 13px
}

.events__bottom span, .events__text, .events__text-data {
    color: #373b3d
}

.events__text-data {
    font-size: 12px
}

.events__text-name {
    font-size: 14px
}

.events__title {
    font-size: 18px;
    line-height: 18px;
    color: #f6404f
}

.news {
    padding: 73px 0 23px;
    background-color: #faf3e3
}

.news__right {
    width: 542px
}

.news__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-right: 127px
}

.news__container, .news__left, .news__link, .news__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.news__container {
    padding: 0 223px;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.news__left a {
    display: block;
    padding-bottom: 57px
}

.news__link, .news__wrap {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.news__wrap {
    color: #2e373b
}

.news__wrap a {
    color: #2e373b;
    text-decoration: underline
}

.news__link {
    width: 156px;
    font-size: 17px;
    padding-top: 10px
}

.news-one {
    font-size: 13px;
    line-height: 21px;
    color: #f6404f;
    padding-bottom: 14px;
    padding-top: 15px
}

.news-two {
    color: #2e373b;
    font-size: 18px;
    line-height: 27px
}

.news__right-list div, .news__right-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.news__right-list div {
    width: 351px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.news__wrap h3 {
    font-size: 26px;
    margin: 0;
    width: 150px;
    padding-top: 5px;
    padding-bottom: 34px
}

.news__right-list li {
    padding-bottom: 25px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.news__right-list a {
    display: block;
    padding-right: 30px
}