html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 20px;
    font-family: "Oswald", "Arial", sans-serif;
    color: #b1b4bd;
    background-color: rgba(50, 50, 69, 1);
}

a {
    color: #b1b4bd;
    font-weight: 500;
}

a:hover {
    color: #e74c3c;
}

.header__wrap {
    position: static;
    display: block;
    overflow: visible;
    top: 0;
    height: auto;
    min-height: 750px;
    padding-bottom: 70px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 50, 69, 0.9)));
    background-image: linear-gradient(180deg, rgba(50, 50, 69, 0.05), rgba(50, 50, 69, 0.74)), url(../img/fon.jpg);
    flex-direction: column;
    background-position: top center;
    background-size: auto, cover;
    white-space: normal;
    object-fit: fill;
    -o-object-fit: fill;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}

.header__box {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding: 20px;
    z-index: 1;
    -ms-flex-items-align: auto;
    -ms-flex-row-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    background-color: rgba(12, 32, 59, 0.5);
}

.navbar .navbar-brand a {
    padding: 1rem 0;
    display: block;
    text-decoration: none;
}

.navbar-brand {
    font-size: 2.2rem;
    color: #ffffff;
}

.navbar-toggler span {
    display: block;
    width: 22px;
    height: 2px;
    border: 1px;
    background-color: #ffffff;
}

.navbar-toggler {
    border: none;
    padding: 10px 6px;
    outline: none;
}

.navbar-toggler span+span {
    margin-top: 4px;
    width: 22px;
}

.navbar-toggler span+span+span {
    width: 22px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1.4rem 1rem;
    font-size: 1.2rem;
    position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link .active {
    color: #e74c3c;
}

.btn {
    background-color: #e74c3c;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px 40px;
    font-size: 20px;
}

.btn:hover {
    opacity: 0.8;
    color: #ffffff;
}

.header__title {
    font-size: 50px;
    line-height: 38px;
    font-weight: 800;
    text-align: center;
    color: #ffffff;
    margin-top: 100px;
    min-height: 100px;
}

.column-left {
    min-height: 750px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 32, 59, 0.9)));
    background-image: linear-gradient(180deg, rgba(12, 32, 59, 0.05), rgba(12, 32, 59, 0.74)), url(../img/about-us.jpg);
    flex-direction: column;
    background-position: top center;
    background-size: auto, cover;
    background-attachment: scroll, scroll;
    object-fit: cover;
    -o-object-fit: cover;
}

.column-right .about-us__title {
    padding: 80px 30px 30px 30px;
    font-size: 45px;
    line-height: 50px;
    font-weight: 500;
}

.about-us__paragraph {
    padding: 15px 30px 5px 30px;
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
}

.product__right {
    min-height: 400px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 32, 59, 0.9)));
    background-image: linear-gradient(180deg, rgba(12, 32, 59, 0.05), rgba(12, 32, 59, 0.74)), url(../img/service.jpg);
    flex-direction: column;
    background-position: top center;
    background-size: auto, cover;
    background-attachment: scroll, scroll;
    object-fit: cover;
    -o-object-fit: cover;
}

.product__title {
    padding: 80px 30px 30px 30px;
    font-size: 45px;
    line-height: 50px;
    font-weight: 500;
}

.product__title-one, .product__title-two {
    font-size: 25px;
    line-height: 30px;
    padding: 0 30px 10px 30px;
}

.product__paragraph-one, .product__paragraph-two {
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
}

.product__paragraph-one {
    padding: 10px 15px 20px 30px;
}

.product__paragraph-two {
    padding: 10px 30px 20px 15px;
}

.fa {
    font-size: 30px;
    color: #e74c3c;
    padding: 15px 10px 10px 30px;
}

.catalog__portfolio {
    min-height: 750px;
    overflow: hidden;
}

.catalog__galeria {
    min-height: 250px;
    background-position: top center;
    background-size: cover;
    opacity: 1;
}

.img-one {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 32, 59, 0.9)));
    background-image: linear-gradient(180deg, rgba(12, 32, 59, 0.05), rgba(12, 32, 59, 0.74)), url(../img/product-1.jpg);
}

.img-two {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 32, 59, 0.9)));
    background-image: linear-gradient(180deg, rgba(12, 32, 59, 0.05), rgba(12, 32, 59, 0.74)), url(../img/product-2.jpg);
}

.img-three {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 32, 59, 0.9)));
    background-image: linear-gradient(180deg, rgba(12, 32, 59, 0.05), rgba(12, 32, 59, 0.74)), url(../img/product-3.jpg);
}

.img-four {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 32, 59, 0.9)));
    background-image: linear-gradient(180deg, rgba(12, 32, 59, 0.05), rgba(12, 32, 59, 0.74)), url(../img/product-4.jpg);
}

.img-five {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 32, 59, 0.9)));
    background-image: linear-gradient(180deg, rgba(12, 32, 59, 0.05), rgba(12, 32, 59, 0.74)), url(../img/product-5.jpg);
}

.img-six {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 32, 59, 0.9)));
    background-image: linear-gradient(180deg, rgba(12, 32, 59, 0.05), rgba(12, 32, 59, 0.74)), url(../img/product-6.jpg);
}

.catalog__center-block {
    width: 100%;
    height: 100%;
    left: 0;
    overflow: hidden;
    z-index: 999;
}

.catalog__wrap {
    padding: 0 30px;
}

.catalog__center-block .catalog__center-text {
    display: table;
    position: relative;
    text-align: left;
}

.catalog__center-block .catalog__center-text .catalog__center-part {
    display: table cell;
    vertical-align: middle;
}

.catalog__center-block .catalog__center-text .catalog__center-part h2 {
    font-weight: 500;
}

.catalog__center-title {
    padding: 45px 0 20px 0;
    font-size: 25px;
    line-height: 30px
}

.catalog__center-paragraph {
    padding: 0 60px 0 0;
    font-size: 14px;
    text-align: justify;
}

.catalog__block {
    margin: 30px 0 0;
    text-align: center;
}

.catalog__block .catalog__people {
    width: 240px;
    object-fit: fill;
}

.catalog__block h3 {
    margin-top: 15px;
    font-size: 19px;
    text-align: left;
}

.catalog__block small {
    text-transform: uppercase;
    font-size: 12px;
    color: #e74c3c;
    font-style: italic;
    margin-bottom: 10px;
    display: block;
    text-align: left;
}

.catalog__paragraph {
    font-size: 15px;
    text-align: left;
}

.catalog__social {
    text-align: left;
}

.catalog__social .fa {
    font-size: 22px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    margin: 4px;
    padding: 5px;
    width: 35px;
    height: 35px;
    text-align: center;
}

.contact__right {
    min-height: 750px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 32, 59, 0.9)));
    background-image: linear-gradient(180deg, rgba(12, 32, 59, 0.05), rgba(12, 32, 59, 0.74)), url(../img/contact.jpg);
    flex-direction: column;
    background-position: top center;
    background-size: auto, cover;
    background-attachment: scroll, scroll;
    object-fit: cover;
    -o-object-fit: cover;
}

.contact__title {
    padding: 30px 0;
    font-size: 45px;
    line-height: 50px;
    font-weight: 500px;
}

.contact__paragraph {
    padding: 0 60px 0 0;
    font-size: 20px;
    line-height: 25px;
}

strong {
    font-weight: 700;
}

.contact__phone, .contact__email {
    color: #ffffff;
    font-weight: bold;
}

.contact__phone:hover, .contact__email:hover {
    color: #e74c3c;
}

#contact__form {
    margin-top: 40px;
}

#contact__form .form-control {
    /*background-color: #2e353f;*/
    background-color: pink;
    border: none;
    border-radius: 10px;
    box-shadow: none;
    font-weight: 300;
    outline: medium none;
    padding: 30px 60px;
    font-size: 25px;
    line-height: 30px;
    height: auto;
    width: 100%;
    color: #ffffff;
    margin-bottom: 30px;
    transition: all .2s ease-in-out;
    text-align: left;
}

#contact__form .form-control:hover, #contact__form .form-control:focus {
    box-shadow: none;
    background-color: #293039;
}

#contact__form textarea .form-control {
    min-height: 80px;
}

#contact__form span .sub-text {
    color: #939da5;
    position: absolute;
    font-size: 12px;
    right: 80px;
}

#contact__form button#valid-form {
    font-weight: 300;
    text-transform: uppercase;
    padding: 15px 30px;
    font-size: 18px;
    color: #ffffff;
    margin: auto;
    margin-top: 30px;
    border-radius: 15px;
    border: none;
    display: inline-block;
}

#contact__form button#valid-form:hover {
    background-color: #00e2c0;
}

.contact__copyright {
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
}

.contact fa {
    padding: 0;
}